<div class="row">
    <div class="col-xs-10">
        <app-shopping-edit (ingredientAdded)="onIngredientAdded($event)"></app-shopping-edit>
        <hr>
        <ul class="list-group">
            <li  *ngFor="let ingredient of ingredients">
                <div>
                    <a class="list-group-item" style="cursor: pointer;">
                        {{ingredient.name}}, ({{ingredient.amount}})
                    </a>
                    <button (click)="deleteItem(ingredient.id)" class="btn btn-danger" type="button">Delete</button>
                </div>
            </li>
           
        </ul>
    </div>
</div>
